

# Efficient jobs (caching, parallelism, persistence)
joblib~=0.14.1
scikit-learn
# Easy http requests
requests~=2.26.0

# Nice utility to diff Jupyter Notebooks.
nbdime~=3.1.0

# May be useful with Pandas for complex "where" clauses (e.g., Pandas
# tutorial).
numexpr~=2.7.3

# Optional: these libraries can be useful in the chapter 3, exercise 4.
nltk~=3.6.5
urlextract~=1.4.0

# Optional: these libraries are only used in chapter 16
ftfy~=6.0.3

# Optional: tqdm displays nice progress bars, ipywidgets for tqdm's notebook support
tqdm~=4.62.3
ipywidgets~=7.6.5
